# SUP I
## Suplementos Alimentares
### Case de Marketing e Análise de Dados
- Nomes

In [236]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt 
import seaborn as sns
sns.set()
from numpy import arange 
from sklearn.preprocessing import LabelEncoder 
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
import os 
import math
from math import sqrt

Carregando a base de dados em um dataframe usando a biblioteca pandas:

Exclusão da primeira linha, com as perguntas escritas, manualmente.

In [237]:
df = pd.read_excel('Base - Pesquisa de Mercado.xlsx', sheet_name=0)
print(df.head())

   Qfreq   P2  P3   P4   P5   P6   P7   P8   P9 P12  ...  P24  P25  P26  Qesc  \
0      4  NaN NaN  7.0  2.0  7.0  7.0  1.0  1.0   1  ...  3.0  7.0  7.0     3
1      4  NaN NaN  5.0  1.0  1.0  3.0  5.0  4.0   1  ...  6.0  6.0  4.0     5
2      2  NaN NaN  6.0  1.0  6.0  3.0  6.0  1.0   1  ...  7.0  7.0  7.0     4
3      1  NaN NaN  2.0  1.0  2.0  2.0  2.0  1.0   2  ...  NaN  NaN  NaN     3
4      1  NaN NaN  7.0  7.0  7.0  2.0  7.0  7.0   1  ...  7.0  7.0  7.0     4

   Qciv  Qocup  Qgen  Qid  Qreg  Qclasse
0     2    3.0     1   31     3        5
1     1    3.0     1   59     4        3
2     1    2.0     1   20     2        3
3     2    2.0     1   24     1        5
4     1    3.0     1   40     4        5

[5 rows x 31 columns]

In [238]:
df.describe()

,Qfreq,P3,P4,P5,P6,P7,P8,P9,P15,P16,...,P24,P25,P26,Qesc,Qciv,Qocup,Qgen,Qid,Qreg,Qclasse
count,702.000000,363.000000,339.000000,339.000000,339.000000,339.000000,339.000000,339.000000,255.000000,255.000000,...,255.000000,255.000000,255.000000,702.000000,702.000000,400.000000,702.000000,702.000000,702.000000,702.00000
mean,3.528490,4.088154,4.982301,3.053097,3.669617,4.681416,4.268437,3.663717,5.756863,4.988235,...,5.031373,5.105882,5.317647,4.703704,1.474359,2.922500,1.514245,21.039886,2.190883,2.64245
std,1.707135,2.043166,2.099517,2.316039,2.356533,1.995255,2.503590,2.558004,1.656442,1.995038,...,1.968001,1.998170,1.793767,1.071196,0.754481,1.261138,0.511435,18.963396,1.437436,1.42289
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000
25%,2.000000,2.000000,3.000000,1.000000,1.000000,3.000000,1.000000,1.000000,5.000000,4.000000,...,4.000000,4.000000,4.000000,4.000000,1.000000,2.000000,1.000000,2.000000,1.000000,1.00000
50%,5.000000,4.000000,6.000000,2.000000,4.000000,5.000000,5.000000,3.000000,7.000000,5.000000,...,5.000000,6.000000,6.000000,5.000000,1.000000,3.000000,2.000000,20.000000,1.000000,3.00000
75%,5.000000,6.000000,7.000000,5.000000,6.000000,7.000000,7.000000,7.000000,7.000000,7.000000,...,7.000000,7.000000,7.000000,5.000000,2.000000,4.000000,2.000000,35.000000,4.000000,4.00000
max,5.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,...,7.000000,7.000000,7.000000,6.000000,5.000000,6.000000,3.000000,100.000000,5.000000,5.00000

In [239]:
df.Qfreq.value_counts(normalize=True)

5    0.517094
1    0.235043
2    0.108262
4    0.072650
3    0.066952
Name: Qfreq, dtype: float64

In [240]:
df.dtypes

Qfreq        int64
P2          object
P3         float64
P4         float64
P5         float64
P6         float64
P7         float64
P8         float64
P9         float64
P12         object
P13         object
P14         object
P15        float64
P16        float64
P17        float64
P18        float64
P19        float64
P20        float64
P21        float64
P22        float64
P23        float64
P24        float64
P25        float64
P26        float64
Qesc         int64
Qciv         int64
Qocup      float64
Qgen         int64
Qid          int64
Qreg         int64
Qclasse      int64
dtype: object

In [241]:
df.Qfreq = df['Qfreq'].astype('float')
df.Qid = df['Qid'].astype('float')

In [242]:
df.describe()

,Qfreq,P3,P4,P5,P6,P7,P8,P9,P15,P16,...,P24,P25,P26,Qesc,Qciv,Qocup,Qgen,Qid,Qreg,Qclasse
count,702.000000,363.000000,339.000000,339.000000,339.000000,339.000000,339.000000,339.000000,255.000000,255.000000,...,255.000000,255.000000,255.000000,702.000000,702.000000,400.000000,702.000000,702.000000,702.000000,702.00000
mean,3.528490,4.088154,4.982301,3.053097,3.669617,4.681416,4.268437,3.663717,5.756863,4.988235,...,5.031373,5.105882,5.317647,4.703704,1.474359,2.922500,1.514245,21.039886,2.190883,2.64245
std,1.707135,2.043166,2.099517,2.316039,2.356533,1.995255,2.503590,2.558004,1.656442,1.995038,...,1.968001,1.998170,1.793767,1.071196,0.754481,1.261138,0.511435,18.963396,1.437436,1.42289
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000
25%,2.000000,2.000000,3.000000,1.000000,1.000000,3.000000,1.000000,1.000000,5.000000,4.000000,...,4.000000,4.000000,4.000000,4.000000,1.000000,2.000000,1.000000,2.000000,1.000000,1.00000
50%,5.000000,4.000000,6.000000,2.000000,4.000000,5.000000,5.000000,3.000000,7.000000,5.000000,...,5.000000,6.000000,6.000000,5.000000,1.000000,3.000000,2.000000,20.000000,1.000000,3.00000
75%,5.000000,6.000000,7.000000,5.000000,6.000000,7.000000,7.000000,7.000000,7.000000,7.000000,...,7.000000,7.000000,7.000000,5.000000,2.000000,4.000000,2.000000,35.000000,4.000000,4.00000
max,5.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,...,7.000000,7.000000,7.000000,6.000000,5.000000,6.000000,3.000000,100.000000,5.000000,5.00000

In [243]:
i=0
while i < len(df.Qid):
    if df.Qid[i] > 6:
        if df.Qid[i] < 18:
            df.Qid[i] = 1
        elif df.Qid[i] < 25:
            df.Qid[i] = 2
        elif df.Qid[i] < 35:
            df.Qid[i] = 3
        elif df.Qid[i] < 45:
            df.Qid[i] = 4
        elif df.Qid[i] < 55:
            df.Qid[i] = 5
        else:
            df.Qid[i] = 6
    i+=1

C:\Users\loren\AppData\Local\Temp\ipykernel_6728\2702381451.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Qid[i] = 3
C:\Users\loren\AppData\Local\Temp\ipykernel_6728\2702381451.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Qid[i] = 6
C:\Users\loren\AppData\Local\Temp\ipykernel_6728\2702381451.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Qid[i] = 2
C:\Users\loren\AppData\Local\Temp\ipykernel_6728\2702381451.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Qid[i] = 4
C:\Users\loren\AppData\Local\Temp\ipykernel_6728\2702381451.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Qid[i] = 5
C:\Users\loren\AppData\Local\Temp\ipykernel_6728\2702381451.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Qid[i] = 1

In [244]:
df.head()

,Qfreq,P2,P3,P4,P5,P6,P7,P8,P9,P12,...,P24,P25,P26,Qesc,Qciv,Qocup,Qgen,Qid,Qreg,Qclasse
0,4.0,NaN,NaN,7.0,2.0,7.0,7.0,1.0,1.0,1,...,3.0,7.0,7.0,3,2,3.0,1,3.0,3,5
1,4.0,NaN,NaN,5.0,1.0,1.0,3.0,5.0,4.0,1,...,6.0,6.0,4.0,5,1,3.0,1,6.0,4,3
2,2.0,NaN,NaN,6.0,1.0,6.0,3.0,6.0,1.0,1,...,7.0,7.0,7.0,4,1,2.0,1,2.0,2,3
3,1.0,NaN,NaN,2.0,1.0,2.0,2.0,2.0,1.0,2,...,NaN,NaN,NaN,3,2,2.0,1,2.0,1,5
4,1.0,NaN,NaN,7.0,7.0,7.0,2.0,7.0,7.0,1,...,7.0,7.0,7.0,4,1,3.0,1,4.0,4,5

In [290]:
df_naousa = df[df.Qfreq==5]

df_naousa

,Qfreq,P2,P3,P4,P5,P6,P7,P8,P9,P12,...,P24,P25,P26,Qesc,Qciv,Qocup,Qgen,Qid,Qreg,Qclasse
7,5.0,2,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4,1,3.0,1,2.0,4,5
10,5.0,2,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3,1,5.0,1,2.0,3,5
14,5.0,1;3;4,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4,1,4.0,1,2.0,3,5
15,5.0,1,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3,1,3.0,1,1.0,4,5
17,5.0,7,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4,2,2.0,1,2.0,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
697,5.0,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4,1,NaN,2,2.0,1,1
698,5.0,1; 5,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,5,1,NaN,1,2.0,1,2
699,5.0,5,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,6,2,NaN,2,4.0,4,1
700,5.0,5,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4,1,NaN,1,2.0,4,5
701,5.0,1,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,6,2,NaN,2,4.0,1,2

In [291]:
df_naousa.iloc[:,[0,1,2,24,25,26,27,28,29,30]].describe()

,Qfreq,P3,Qesc,Qciv,Qocup,Qgen,Qid,Qreg,Qclasse
count,363.0,363.000000,363.000000,363.000000,139.000000,363.000000,363.000000,363.000000,363.000000
mean,5.0,4.088154,4.867769,1.402204,3.021583,1.484848,2.920110,2.123967,2.074380
std,0.0,2.043166,0.965786,0.675699,1.236332,0.511381,1.342755,1.384026,1.303408
min,5.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,5.0,2.000000,4.000000,1.000000,2.000000,1.000000,2.000000,1.000000,1.000000
50%,5.0,4.000000,5.000000,1.000000,3.000000,1.000000,2.000000,1.000000,2.000000
75%,5.0,6.000000,6.000000,2.000000,4.000000,2.000000,4.000000,4.000000,3.000000
max,5.0,7.000000,6.000000,5.000000,6.000000,3.000000,6.000000,5.000000,5.000000

In [303]:
P2 = df_naousa.P2

In [294]:
df_naousa.tail()

,Qfreq,P2,P3,P4,P5,P6,P7,P8,P9,P12,...,P24,P25,P26,Qesc,Qciv,Qocup,Qgen,Qid,Qreg,Qclasse
697,5.0,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4,1,NaN,2,2.0,1,1
698,5.0,1; 5,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,5,1,NaN,1,2.0,1,2
699,5.0,5,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,6,2,NaN,2,4.0,4,1
700,5.0,5,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4,1,NaN,1,2.0,4,5
701,5.0,1,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,6,2,NaN,2,4.0,1,2

In [307]:
df_naosup = df[df.P12==2]
df_naosup.describe()

,Qfreq,P3,P4,P5,P6,P7,P8,P9,P15,P16,...,P24,P25,P26,Qesc,Qciv,Qocup,Qgen,Qid,Qreg,Qclasse
count,84.000000,0.0,84.000000,84.000000,84.000000,84.000000,84.000000,84.000000,0.0,0.0,...,0.0,0.0,0.0,84.000000,84.000000,65.000000,84.000000,84.000000,84.000000,84.000000
mean,1.797619,NaN,4.440476,2.964286,3.476190,4.333333,4.000000,3.321429,NaN,NaN,...,NaN,NaN,NaN,4.440476,1.452381,2.953846,1.583333,3.214286,2.083333,3.345238
std,1.027100,NaN,2.299037,2.386945,2.351499,2.251283,2.578876,2.593601,NaN,NaN,...,NaN,NaN,NaN,1.165273,0.665949,1.178330,0.519693,1.326935,1.424471,1.392701
min,1.000000,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,NaN,...,NaN,NaN,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,1.000000,NaN,2.000000,1.000000,1.000000,2.750000,1.000000,1.000000,NaN,NaN,...,NaN,NaN,NaN,4.000000,1.000000,2.000000,1.000000,2.000000,1.000000,2.000000
50%,1.000000,NaN,4.500000,1.500000,3.500000,4.000000,4.000000,2.000000,NaN,NaN,...,NaN,NaN,NaN,4.000000,1.000000,3.000000,2.000000,3.000000,1.000000,3.500000
75%,3.000000,NaN,7.000000,5.000000,5.000000,7.000000,7.000000,7.000000,NaN,NaN,...,NaN,NaN,NaN,5.000000,2.000000,4.000000,2.000000,4.000000,4.000000,5.000000
max,4.000000,NaN,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,NaN,NaN,...,NaN,NaN,NaN,6.000000,4.000000,6.000000,3.000000,6.000000,5.000000,5.000000

### Clusterização e Redução de Dimensionalidade

Iniciaremos com duas forma de análise de dados: PCA e Kmeans Cluster

Vamos atribuir algumas perguntas para as classificações em tipos de variáveis

In [202]:
df.Qreg = df.Qreg.astype('category')
df.Qclasse = df.Qclasse.astype('category')
df.Qid = df.Qid.astype('category')

df.Qreg.cat.categories = [1, 2, 3, 4, 5]
df.Qclasse.cat.categories = [1, 2, 3, 4, 5]
df.Qid.cat.categories =  [1, 2, 3, 4, 5, 6]

C:\Users\loren\AppData\Local\Temp\ipykernel_6728\3024085191.py:5: FutureWarning: Setting categories in-place is deprecated and will raise in a future version. Use rename_categories instead.
  df.Qreg.cat.categories = [1, 2, 3, 4, 5]
C:\Users\loren\AppData\Local\Temp\ipykernel_6728\3024085191.py:6: FutureWarning: Setting categories in-place is deprecated and will raise in a future version. Use rename_categories instead.
  df.Qclasse.cat.categories = [1, 2, 3, 4, 5]
C:\Users\loren\AppData\Local\Temp\ipykernel_6728\3024085191.py:7: FutureWarning: Setting categories in-place is deprecated and will raise in a future version. Use rename_categories instead.
  df.Qid.cat.categories =  [1, 2, 3, 4, 5, 6]

### Seleção de perguntas

Agora que a base de dados foi limpa, e selecionamos respondentes que fazem um maior uso de suplementos, podemos selecionar as perguntas mais relevantes para fazermos a noralização e clusterização de base de dados.

Selecionamos as perguntas que estabelecemos ser mais diferenciais para identificar clusters dentro da nossa base de dados.

In [203]:
df_p = df.loc[:,['P15', 'P16', 'P17', 'P19', 'P20', 'P21', 'P22', 'P23', 'P24', 'P26', 'Qesc', 'Qciv', 'Qocup', 'Qid', 'Qgen', 'Qreg', 'Qclasse']]
df_p.head()

,P15,P16,P17,P19,P20,P21,P22,P23,P24,P26,Qesc,Qciv,Qocup,Qid,Qgen,Qreg,Qclasse
0,7.0,7.0,3.0,7.0,7.0,7.0,7.0,7.0,3.0,7.0,3,2,3.0,3,1,3,5
1,6.0,7.0,6.0,6.0,7.0,7.0,4.0,6.0,6.0,4.0,5,1,3.0,6,1,4,3
2,1.0,7.0,7.0,7.0,7.0,7.0,7.0,1.0,7.0,7.0,4,1,2.0,2,1,2,3
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,2,2.0,2,1,1,5
4,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,4,1,3.0,4,1,4,5

### Normalização da base de dados

Uma vez selecionadas as nossas perguntas e com a base de dados limpa,

In [207]:
df2 = df_p.replace(np.nan, None)

In [208]:
scaler = StandardScaler()
df_std = scaler.fit_transform(df2)

In [210]:
pca = PCA()
pca.fit(df_std)

ValueError: Input X contains NaN.
PCA does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values