# SUP I
## Suplementos Alimentares
### Case de Marketing e Análise de Dados
- Nomes

In [35]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt 
import seaborn as sns
sns.set()
from numpy import arange 
from sklearn.preprocessing import LabelEncoder 
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
import os 
import math
from math import sqrt

Carregando a base de dados em um dataframe usando a biblioteca pandas:

Exclusão da primeira linha, com as perguntas escritas, manualmente.

In [36]:
df = pd.read_excel('Base - Pesquisa de Mercado.xlsx', sheet_name=0)
print(df.head())

   Qfreq   P2  P3   P4   P5   P6   P7   P8   P9 P12  ...  P24  P25  P26  Qesc  \
0      4  NaN NaN  7.0  2.0  7.0  7.0  1.0  1.0   1  ...  3.0  7.0  7.0     3
1      4  NaN NaN  5.0  1.0  1.0  3.0  5.0  4.0   1  ...  6.0  6.0  4.0     5
2      2  NaN NaN  6.0  1.0  6.0  3.0  6.0  1.0   1  ...  7.0  7.0  7.0     4
3      1  NaN NaN  2.0  1.0  2.0  2.0  2.0  1.0   2  ...  NaN  NaN  NaN     3
4      1  NaN NaN  7.0  7.0  7.0  2.0  7.0  7.0   1  ...  7.0  7.0  7.0     4

   Qciv  Qocup  Qgen  Qid  Qreg  Qclasse
0     2    3.0     1   31     3        5
1     1    3.0     1   59     4        3
2     1    2.0     1   20     2        3
3     2    2.0     1   24     1        5
4     1    3.0     1   40     4        5

[5 rows x 31 columns]

Eliminando os perfis que não utilizam suplementos alimentares

In [37]:
df.drop(df.loc[df['Qfreq']==5].index, inplace=True)
print(df.head(10))

    Qfreq   P2  P3   P4   P5   P6   P7   P8   P9 P12  ...  P24  P25  P26  \
0       4  NaN NaN  7.0  2.0  7.0  7.0  1.0  1.0   1  ...  3.0  7.0  7.0
1       4  NaN NaN  5.0  1.0  1.0  3.0  5.0  4.0   1  ...  6.0  6.0  4.0
2       2  NaN NaN  6.0  1.0  6.0  3.0  6.0  1.0   1  ...  7.0  7.0  7.0
3       1  NaN NaN  2.0  1.0  2.0  2.0  2.0  1.0   2  ...  NaN  NaN  NaN
4       1  NaN NaN  7.0  7.0  7.0  2.0  7.0  7.0   1  ...  7.0  7.0  7.0
5       1  NaN NaN  1.0  1.0  1.0  4.0  3.0  1.0   1  ...  7.0  7.0  7.0
6       2  NaN NaN  5.0  2.0  1.0  7.0  7.0  7.0   1  ...  7.0  7.0  7.0
8       4  NaN NaN  4.0  3.0  3.0  3.0  3.0  3.0   1  ...  5.0  4.0  5.0
9       1  NaN NaN  4.0  3.0  4.0  6.0  1.0  1.0   2  ...  NaN  NaN  NaN
11      2  NaN NaN  4.0  3.0  7.0  7.0  5.0  1.0   1  ...  6.0  5.0  5.0

    Qesc  Qciv  Qocup  Qgen  Qid  Qreg  Qclasse
0      3     2    3.0     1   31     3        5
1      5     1    3.0     1   59     4        3
2      4     1    2.0     1   20     2        3
3      3     2    2.0     1   24     1        5
4      4     1    3.0     1   40     4        5
5      6     2    4.0     1   54     4        1
6      6     2    2.0     1   40     4        3
8      5     2    2.0     1   40     3        3
9      4     3    6.0     1   67     4        4
11     2     5    6.0     1   66     4        4

[10 rows x 31 columns]

In [39]:
df.describe()

,Qfreq,P3,P4,P5,P6,P7,P8,P9,P15,P16,...,P22,P23,P24,P25,P26,Qesc,Qciv,Qocup,Qgen,Qid
count,339.000000,0.0,339.000000,339.000000,339.000000,339.000000,339.000000,339.000000,255.000000,255.000000,...,255.000000,255.000000,255.000000,255.000000,255.000000,339.000000,339.000000,261.000000,339.000000,339.000000
mean,1.952802,NaN,4.982301,3.053097,3.669617,4.681416,4.268437,3.663717,5.756863,4.988235,...,5.317647,5.756863,5.031373,5.105882,5.317647,4.528024,1.551622,2.869732,1.545723,27.646018
std,1.108393,NaN,2.099517,2.316039,2.356533,1.995255,2.503590,2.558004,1.656442,1.995038,...,1.793767,1.656442,1.968001,1.998170,1.793767,1.149329,0.824633,1.273352,0.510370,18.296823
min,1.000000,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,1.000000,NaN,3.000000,1.000000,1.000000,3.000000,1.000000,1.000000,5.000000,4.000000,...,4.000000,5.000000,4.000000,4.000000,4.000000,4.000000,1.000000,2.000000,1.000000,17.500000
50%,2.000000,NaN,6.000000,2.000000,4.000000,5.000000,5.000000,3.000000,7.000000,5.000000,...,6.000000,7.000000,5.000000,6.000000,6.000000,5.000000,1.000000,3.000000,2.000000,28.000000
75%,3.000000,NaN,7.000000,5.000000,6.000000,7.000000,7.000000,7.000000,7.000000,7.000000,...,7.000000,7.000000,7.000000,7.000000,7.000000,5.000000,2.000000,4.000000,2.000000,40.000000
max,4.000000,NaN,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,...,7.000000,7.000000,7.000000,7.000000,7.000000,6.000000,5.000000,6.000000,3.000000,100.000000

Eliminando os respondentes que nunca utilizaram um aplicativo de suplementos alimentares

In [40]:
df.drop(df.loc[df['P12']==2].index, inplace=True)
df.drop(['P2','P3'], axis=1, inplace=True)
df.head(10)

,Qfreq,P4,P5,P6,P7,P8,P9,P12,P13,P14,...,P24,P25,P26,Qesc,Qciv,Qocup,Qgen,Qid,Qreg,Qclasse
0,4,7.0,2.0,7.0,7.0,1.0,1.0,1,2 ; 4 ; 6,3 ; 5,...,3.0,7.0,7.0,3,2,3.0,1,31,3,5
1,4,5.0,1.0,1.0,3.0,5.0,4.0,1,4,4,...,6.0,6.0,4.0,5,1,3.0,1,59,4,3
2,2,6.0,1.0,6.0,3.0,6.0,1.0,1,2 ; 4,1 ; 2 ; 3,...,7.0,7.0,7.0,4,1,2.0,1,20,2,3
4,1,7.0,7.0,7.0,2.0,7.0,7.0,1,2 ; 4,1 ; 2,...,7.0,7.0,7.0,4,1,3.0,1,40,4,5
5,1,1.0,1.0,1.0,4.0,3.0,1.0,1,4,1,...,7.0,7.0,7.0,6,2,4.0,1,54,4,1
6,2,5.0,2.0,1.0,7.0,7.0,7.0,1,2,1,...,7.0,7.0,7.0,6,2,2.0,1,40,4,3
8,4,4.0,3.0,3.0,3.0,3.0,3.0,1,4,2,...,5.0,4.0,5.0,5,2,2.0,1,40,3,3
11,2,4.0,3.0,7.0,7.0,5.0,1.0,1,4 ; 6,1 ; 2 ; 3,...,6.0,5.0,5.0,2,5,6.0,1,66,4,4
12,4,6.0,1.0,1.0,5.0,4.0,1.0,1,1,1,...,5.0,4.0,5.0,2,1,4.0,1,33,5,5
13,4,7.0,1.0,7.0,5.0,7.0,1.0,1,4,2,...,7.0,7.0,7.0,4,2,2.0,1,25,4,4

In [41]:
df.describe()

,Qfreq,P4,P5,P6,P7,P8,P9,P15,P16,P17,...,P22,P23,P24,P25,P26,Qesc,Qciv,Qocup,Qgen,Qid
count,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,...,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,196.000000,255.000000,255.000000
mean,2.003922,5.160784,3.082353,3.733333,4.796078,4.356863,3.776471,5.756863,4.988235,5.031373,...,5.317647,5.756863,5.031373,5.105882,5.317647,4.556863,1.584314,2.841837,1.533333,27.756863
std,1.131155,2.002369,2.296240,2.359323,1.894247,2.477080,2.541203,1.656442,1.995038,1.968001,...,1.793767,1.656442,1.968001,1.998170,1.793767,1.144871,0.869286,1.305014,0.507684,18.523333
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,1.000000,4.000000,1.000000,1.000000,3.500000,1.000000,1.000000,5.000000,4.000000,4.000000,...,4.000000,5.000000,4.000000,4.000000,4.000000,4.000000,1.000000,2.000000,1.000000,18.000000
50%,2.000000,6.000000,2.000000,4.000000,5.000000,5.000000,4.000000,7.000000,5.000000,5.000000,...,6.000000,7.000000,5.000000,6.000000,6.000000,5.000000,1.000000,2.000000,2.000000,28.000000
75%,3.000000,7.000000,5.000000,6.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,...,7.000000,7.000000,7.000000,7.000000,7.000000,5.000000,2.000000,4.000000,2.000000,40.000000
max,4.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,...,7.000000,7.000000,7.000000,7.000000,7.000000,6.000000,5.000000,6.000000,3.000000,100.000000

In [45]:
df.dtypes

Qfreq        int64
P4         float64
P5         float64
P6         float64
P7         float64
P8         float64
P9         float64
P12         object
P13         object
P14         object
P15        float64
P16        float64
P17        float64
P18        float64
P19        float64
P20        float64
P21        float64
P22        float64
P23        float64
P24        float64
P25        float64
P26        float64
Qesc         int64
Qciv         int64
Qocup      float64
Qgen         int64
Qid          int64
Qreg        object
Qclasse     object
dtype: object

In [46]:
df.drop(['P12','P13','P14'], axis=1, inplace=True)

### Clusterização e Redução de Dimensionalidade

Iniciaremos com duas forma de análise de dados: PCA e Kmeans Cluster

Vamos atribuir algumas perguntas para as classificações em tipos de variáveis

In [47]:
df.Qreg = df.Qreg.astype('category')
df.Qclasse = df.Qclasse.astype('category')

df.Qreg.cat.categories = [1, 2, 3, 4, 5]
df.Qclasse.cat.categories = [1, 2, 3, 4, 5]

C:\Users\loren\AppData\Local\Temp\ipykernel_6728\2808524251.py:4: FutureWarning: Setting categories in-place is deprecated and will raise in a future version. Use rename_categories instead.
  df.Qreg.cat.categories = [1, 2, 3, 4, 5]
C:\Users\loren\AppData\Local\Temp\ipykernel_6728\2808524251.py:5: FutureWarning: Setting categories in-place is deprecated and will raise in a future version. Use rename_categories instead.
  df.Qclasse.cat.categories = [1, 2, 3, 4, 5]

Limpeza da base de dados selecionada de respondentes que utilizam suplementos alimentares e aplicativos d esuplementos alimentares.

In [48]:
df = df.fillna(df.median())

C:\Users\loren\AppData\Local\Temp\ipykernel_6728\3493596106.py:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df = df.fillna(df.median())

### Seleção de perguntas

Agora que a base de dados foi limpa, e selecionamos respondentes que fazem um maior uso de suplementos, podemos selecionar as perguntas mais relevantes para fazermos a noralização e clusterização de base de dados